header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 100px;
    background-color: cornflowerblue;
    padding: 20px;
    border: 3px solid black;
}
body{
    background-color: lightblue;
}
p{
    font-size: 25px;
    text-align: center;
    flex-wrap: wrap;
    width: 75%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    
}

.ludo{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 100px;
    
}
