.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: lightsteelblue;
    color: darkblue;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    outline: 3px solid;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }  
.botao:hover {
    transform: translateY(5px);
    background-color: #b0c4de;
  }
  
.botao:hover{
    background-color: #5a9bd4;
   transform: translateY(10px);
}


body {
    font-family: Arial, sans-serif;

  }
  
  .flex-container{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.flex-container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.reverse{
    display: inline;
    flex-direction: row-reverse;
  }

#p1{
    display: flex;
    justify-content: center;

  }